<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="layout">
        <div class="header">
            <h1 class="brand-title">{{ site.title }}</h1>
            {% if site.description %}
                <h2 class="brand-tagline">{{ site.description }}</h2>
            {% endif %}
        </div>
        <div class="content pure-g">
            <div class="pure-u-5-5">
                {{ content }}

                {% include footer.html %}
            </div>
        </div>
    </div>

  </body>

</html>
